* {
  box-sizing: border-box;
}

*:before,
*:after {
    box-sizing.: border-box;
}


html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    position: relative;
    margin:5px;

}



header {
    text-align: center;
}


.hed{
  float: left;
}

li {
    display: inline;
    padding: 5px;
}

a {
    text-decoration: none;
    color: blue;
}

.nav-item,.nav {
  float: right;
}

a:hover { color : red;}

hr {
    width: 100%;
    height:4px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkblue;
    border: 0 none;
}
input[type=text],input[type=password],input[type=number],input[type=date], select, textarea,.pwd,.dropdown {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit],input[type=reset] {
  background-color: cornflowerblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
  width: 30%;
}

input[type=submit]:hover {
  background-color: grey;
}

@media screen and (max-width: 800px) {
  .input[type=submit] ,.btn-submit{
    width: 30%;
    margin-top: 0;
  }

}

.top-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 10%;
}
.bottom-container {
    background: #f2f2f2;
    padding:5px;
    border-top:2px solid #0f0f0f;
    position: fixed;
    bottom:0;
    width:100%;

}

.container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.content-section1{

  float: left;
  height: 50%;
  width: 50%;
}
.container-req{
  float: center;
  text-align: center;
}


.req-section{

  float: center;
  padding: 20px;
  background-color:#f2f2f2 ;
  color: black;
  height: 40%;
}

.content-section2{

  float: left;
  height: 50%;
  width: 50%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .col-25, .col-75 {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
  .content-section1,.content-section2 {
    width: 100%;
  }
}

.btn-add {
    background-color: cornflowerblue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
}

.btn-submit {
    background-color: cornflowerblue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
}
.btn-submit:hover {
    opacity: 1;
}

.error-message{
      color : red;
}

.user{

  float: right;
  position: absolute;
  font-size: 25px;
  right: 10em;
  top: 2em;
}

.label{

  font-size: 20px;
}- 520

.back{
  background-color: cornflowerblue;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: inherit;
  opacity: 0.9;
  float: right;

}





.navtop .icon {

  height: auto;
  width: auto;
  display: none;
}

@media screen and (max-width: 800px) {
  .navtop li{display: none;}
  .navtop a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .navtop.responsive {position: relative;}
  .navtop.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navtop.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Overlay */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;

  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
color: #f1f1f1;}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay li {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


/* Chart */
.ct-chart{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;


}
@media screen and (max-width: 800px) {

  .ct-chart{
    width: 100%;
    overflow: scroll;
  }
}


}
